html {
    font-size: 1vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never; /* Note: font-smooth is not widely supported */
    box-sizing: border-box;
    // Hide scrollbars
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}

*, *:before, *:after {
    box-sizing: inherit;
    // Hide scrollbars on all elements
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}

body {
    background-color: var(--background-color);
    transition: background-color 400ms ease-in-out;
    height: calc(200dvh);
    overflow: scroll;
    // Hide scrollbars
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

    &.fullscreen-gallery {
        background-color: white;
    }
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 600ms ease-in-out;

    .start-menu-opened & {
        opacity: 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.title-element {
    position: fixed;
    font-family: "FocalMaxi";
    color: var(--grey-color);
    top: 0rem;
    left: var(--page-padding);
    font-size: 10.7rem;
    letter-spacing: -0.02em;
    color: black;
    transition: color 600ms ease-in-out;
    cursor: pointer;

    .start-menu-opened & {
        color: var(--grey-color);
        pointer-events: none;
    }
}