html {
    font-size: 1vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never; /* Note: font-smooth is not widely supported */
    box-sizing: border-box;
    // Hide scrollbars
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    overscroll-behavior: none;
    
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}

*, *:before, *:after {
    box-sizing: inherit;
    // Hide scrollbars on all elements
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    overscroll-behavior: none;
    
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}

body {
    background-color: var(--background-color);
    transition: background-color 400ms ease-in-out;
    height: calc(200dvh);
    overflow: scroll;
    // Hide scrollbars
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

    &.fullscreen-gallery {
        background-color: white;
    }

    &.start-animation-1 {
        background-color: black;
    }

    &.start-animation-2 {
        background-color: black;
    }
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 600ms ease-in-out;

    .start-menu-opened & {
        opacity: 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .start-animation-1 & {
        filter: blur(10px);
    }
}

.title-element {
    position: fixed;
    font-family: "FocalMaxi";
    color: var(--grey-color);
    top: 0rem;
    left: var(--page-padding);
    font-size: 10.7rem;
    letter-spacing: -0.02em;
    color: black;
    transition: all 600ms ease-in-out;
    cursor: pointer;

    .start-menu-opened & {
        color: var(--grey-color);
        pointer-events: none;
    }

    @include mobile {
        font-size: 10.4rem;
    }

    .start-animation-1 & {
        top: calc(100dvh - 15rem);
        opacity: 0;
    }

    .start-animation-2 & {
        top: calc(100dvh - 15rem);
        opacity: 1;
    }
}

.instagram-icon {
    position: fixed;
    top: 1rem;
    right: 2rem;
    width: 2.1rem;
    height: 2.1rem;
    z-index: 1000;
    transition: all 300ms ease-in-out;
    opacity: 1;

    @include mobile {
        width: 6rem;
        height: 6rem;
        top: 12rem;
        left: 3rem;
        display: none;
    }

    .start-menu-opened & {
        svg {
            fill: white;
            width: 100%;
            height: 100%;
        }
    }
    
    svg {
        fill: black;
        width: 100%;
        height: 100%;
        transition: fill 300ms ease-in-out;
    }

    .start-animation-1 & {
        opacity: 0;
    }

    .start-animation-2 & {
        opacity: 0;
    }

    .start-animation-3 & {
        opacity: 0;
    }
}