html {
    font-size: 1vw;
    background-color: var(--background-color);
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 1000ms ease-in-out;

    .start-menu-opened & {
        opacity: 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.title-element {
    position: fixed;
    font-family: "FocalMaxi";
    color: var(--grey-color);
    top: 0rem;
    left: var(--page-padding);
    font-size: 10.7rem;
    letter-spacing: -0.02em;
    color: black;
    transition: color 1000ms ease-in-out;
    cursor: pointer;

    .start-menu-opened & {
        color: var(--grey-color);
    }
}