.content-container {
    position: fixed;
    top: var(--page-title-size);
    left: calc(var(--page-padding) + var(--menu-item-height) + var(--container-gap));
    width: calc(100vw - 2 * var(--page-padding) - var(--menu-item-height) - var(--container-gap));
    height: calc(100vh - 10rem);

    @include mobile {
        left: var(--page-padding);
        width: calc(100vw - 2 * var(--page-padding));
    }
}

.scroller {
    // background-color: #f0f0f0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    display: flex;
    flex-direction: column;
    gap: var(--container-gap);
    height: 100%;
    width: 100%;
    overflow: scroll;
    transition: border-radius 75ms ease-in-out;
}

.inner-scroller {
    width: 100%;
    min-height: 200vh;
    flex-shrink: 0;
    // background: linear-gradient(to bottom, #ff0000, #66ff00);
    background-color: #FAFAFA;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transition: border-radius 75ms ease-in-out;
    position: relative;
    overflow: visible;

    &.connected-top {
        border-top-left-radius: 0;
    }

    &.connected-middle {
        border-top-left-radius: 0;
        transition: border-radius 0ms ease-in-out;
    }
}


.number-container {
    position: fixed;
    left: var(--page-padding);
    height: var(--menu-item-height);
    width: var(--menu-item-height);
    background-color: #FAFAFA;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transition: border-radius 75ms ease-in-out, width 75ms ease-in-out;

    &.connected-top {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: calc(var(--menu-item-height) + var(--container-gap));
    }

    &.connected-middle {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: calc(var(--menu-item-height) + var(--container-gap));
    }

    &.connected {
        height: calc(var(--menu-item-height) + var(--container-gap));
    }

    @include mobile {
        top: calc(var(--page-title-size) - var(--container-gap) - var(--menu-item-height));
        left: unset;
        transition: border-radius 75ms ease-in-out, width 75ms ease-in-out, left var(--transition-duration-1) ease-in-out, height 75ms ease-in-out;
    }
}

.number {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.number-before {
    position: absolute;
    top: calc(-1 * var(--container-gap));
    right: 0;
    width: var(--container-gap);
    height: var(--container-gap);
    background-color: #FAFAFA;
}

.number-before-cut-out {
    position: absolute;
    top: calc(-1 * var(--container-gap));
    right: 0;
    width: var(--container-gap);
    height: var(--container-gap);
    background-color: var(--background-color);
    border-bottom-right-radius: 0;
}

.number-after {
    position: absolute;
    bottom: calc(-1 * var(--container-gap));
    right: 0;
    width: var(--container-gap);
    height: var(--container-gap);
    background-color: #FAFAFA;

}

.number-after-cut-out {
    position: absolute;
    bottom: calc(-1 * var(--container-gap));
    right: 0;
    width: var(--container-gap);
    height: var(--container-gap);
    background-color: var(--background-color);
    border-top-right-radius: 0;
    transition: border-radius 75ms ease-in-out;

    .connected-top & {
        border-top-right-radius: var(--container-gap);
        transition-delay: 75ms;
    }

    .connected-middle & {
        border-top-right-radius: var(--container-gap);
        transition: border-radius 75ms ease-in-out;
        transition-delay: 75ms;
    }
}

#number-1-container {
    top: var(--page-title-size);

    @include mobile {
        top: calc(var(--page-title-size) - var(--container-gap) - var(--menu-item-height));
        left: var(--page-padding);
    }

    &.connected {
        height: calc(var(--menu-item-height) + var(--container-gap));
    }
}

#number-2-container {
    top: calc(100dvh - var(--page-padding) - 3 * var(--menu-item-height) - 2 * var(--container-gap));

    @include mobile {
        top: calc(var(--page-title-size) - var(--container-gap) - var(--menu-item-height));
        left: calc(100vw - var(--page-padding) - 3 *var(--menu-item-height) - 2 * var(--container-gap));
    }
}

#number-3-container {
    top: calc(100dvh - var(--page-padding) - 2 * var(--menu-item-height) - var(--container-gap));

    @include mobile {
        top: calc(var(--page-title-size) - var(--container-gap) - var(--menu-item-height));
        left: calc(100vw - var(--page-padding) - 2 * var(--menu-item-height) - var(--container-gap));
    }
}

#number-4-container {
    top: calc(100dvh - var(--page-padding) - var(--menu-item-height));

    @include mobile {
        top: calc(var(--page-title-size) - var(--container-gap) - var(--menu-item-height));
        left: calc(100vw - var(--page-padding) - var(--menu-item-height));
    }
}

.images {
    position: relative;
    width: calc(100vw - 2 * var(--page-padding));
    height: auto;
    background-color: red;
    overflow: hidden;
    

    img {
        width: 100%;
    }
}

.images-test {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    
    // Apply SVG mask for inner-scroller-2
    mask: url(#combined-mask-2);
    -webkit-mask: url(#combined-mask-2);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

