.content-container {
    position: fixed;
    top: var(--page-title-size);
    left: calc(var(--page-padding) + var(--menu-item-height) + var(--container-gap));
    width: calc(100vw - 2 * var(--page-padding) - var(--menu-item-height) - var(--container-gap));
    height: calc(100vh - 10rem);
    transition: opacity 300ms ease-in-out;
    opacity: 1;
    pointer-events: auto;

    &.hidden {
        opacity: 0;
        pointer-events: none !important;
        
        // Ensure all children also don't block pointer events
        *, *::before, *::after {
            pointer-events: none !important;
        }
    }

    .fullscreen-gallery & {
        opacity: 0;
    }

    @include mobile {
        left: var(--page-padding);
        width: calc(100vw - 2 * var(--page-padding));
    }

    .button-content {
        @include mobile {
            font-size: 1rem;
        }
    }
}

.scroller {
    // background-color: #f0f0f0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    display: flex;
    flex-direction: column;
    gap: var(--container-gap);
    height: 100%;
    width: 100%;
    overflow: scroll;
    overscroll-behavior: none;
    transition: border-radius 75ms ease-in-out;

    @include mobile {
        &.first-connected {
            border-radius: 0 var(--border-radius) 0 0;
        }
    }
}

.inner-scroller {
    width: 100%;
    min-height: var(--project-images-height);
    flex-shrink: 0;
    // background: linear-gradient(to bottom, #ff0000, #66ff00);
    background-color: rgba(250, 250, 250, 1);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transition: border-radius 75ms ease-in-out;
    position: relative;
    // overflow-x: hidden; // Removed to allow position: sticky to work

    &.connected-top {
        border-top-left-radius: 0;
    }

    &.connected-middle {
        border-top-left-radius: 0;
        transition: border-radius 0ms ease-in-out;
    }

    &:last-child {
        margin-bottom: 10rem;

        @include mobile {
            margin-bottom: 40rem;
        }
    }
}

#inner-scroller-1 {

    @include mobile {
        .first-connected & {
            border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
        }
    }
}

#inner-scroller-2 {
    background-color: rgba(250, 250, 250, 0);

    @include mobile {
        background-color: rgba(250, 250, 250, 1);
    }
}

.content-element {
    transition: opacity 300ms ease-in-out;
    transition-delay: 300ms;
    opacity: 1;

    &.hidden {
        opacity: 0;
        transition-delay: 0ms;

        @include mobile {
            opacity: 1;
        }
    }
}


.number-container {
    position: fixed;
    left: var(--page-padding);
    height: var(--menu-item-height);
    width: var(--menu-item-height);
    background-color: #FAFAFA;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transition: border-radius 75ms ease-in-out, width 75ms ease-in-out;
    will-change: transform; // Hint to browser to optimize transform animations

    &.connected-top {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: calc(var(--menu-item-height) + var(--container-gap));
    }

    &.connected-middle {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: calc(var(--menu-item-height) + var(--container-gap));
    }

    &.connected {
        @include mobile {
            height: calc(var(--menu-item-height) + var(--container-gap));
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    @include mobile {
        top: calc(var(--page-title-size) - var(--container-gap) - var(--menu-item-height));
        left: unset;
        transition: border-radius 75ms ease-in-out, width 75ms ease-in-out, left var(--transition-duration-1) ease-in-out, height 75ms ease-in-out;
    }
}

// .number-content {
//     background-color: grey;
//     width: 100%;
//     height: 100%;
//     border-radius: 0.7rem;
//     opacity: 0.1;
// }



.number {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    padding: var(--container-gap);
}

.number-before {
    position: absolute;
    top: calc(-1 * var(--container-gap));
    right: 0;
    width: var(--container-gap);
    height: var(--container-gap);
    background-color: var(--grey-color);

    @include mobile {
        top: unset;
        bottom: 0;
        left: calc(-1 * var(--container-gap));
    }
}

.number-before-cut-out {
    position: absolute;
    top: calc(-1 * var(--container-gap));
    right: 0;
    width: var(--container-gap);
    height: var(--container-gap);
    background-color: var(--background-color);
    border-bottom-right-radius: 0;

    @include mobile {
        top: unset;
        bottom: 0;
        left: calc(-1 * var(--container-gap));
    }

    .connected & {
        @include mobile {
            border-bottom-right-radius: var(--border-radius);
        }
    }
}

.number-after {
    position: absolute;
    bottom: calc(-1 * var(--container-gap));
    right: 0;
    width: var(--container-gap);
    height: var(--container-gap);
    background-color: #FAFAFA;

    @include mobile {
        bottom: 0;
        right: calc(-1 * var(--container-gap));
    }
}

.number-after-cut-out {
    position: absolute;
    bottom: calc(-1 * var(--container-gap));
    right: 0;
    width: var(--container-gap);
    height: var(--container-gap);
    background-color: var(--background-color);
    border-top-right-radius: 0;
    transition: border-radius 75ms ease-in-out;

    @include mobile {
        bottom: 0;
        right: calc(-1 * var(--container-gap));
    }

    .connected-top & {
        border-top-right-radius: var(--container-gap);
        transition-delay: 75ms;
    }

    .connected-middle & {
        border-top-right-radius: var(--container-gap);
        transition: border-radius 75ms ease-in-out;
        transition-delay: 75ms;
    }

    .connected & {
        @include mobile {
            border-bottom-left-radius: var(--border-radius);
        }
    }
}

#number-1-container {
    top: var(--page-title-size);

    @include mobile {
        top: calc(var(--page-title-size) - var(--container-gap) - var(--menu-item-height));
        left: var(--page-padding);
    }

    &.connected {
        @include mobile {
            height: calc(var(--menu-item-height) + var(--container-gap));
        }
    }
}

#number-2-container {
    top: calc(100dvh - var(--page-padding) - 3 * var(--menu-item-height) - 2 * var(--container-gap));

    @include mobile {
        top: calc(var(--page-title-size) - var(--container-gap) - var(--menu-item-height));
        left: calc(100vw - var(--page-padding) - 3 * var(--menu-item-height) - 2 * var(--container-gap));
    }
}

#number-3-container {
    top: calc(100dvh - var(--page-padding) - 2 * var(--menu-item-height) - var(--container-gap));

    @include mobile {
        top: calc(var(--page-title-size) - var(--container-gap) - var(--menu-item-height));
        left: calc(100vw - var(--page-padding) - 2 * var(--menu-item-height) - var(--container-gap));
    }
}

#number-4-container {
    top: calc(100dvh - var(--page-padding) - var(--menu-item-height));

    @include mobile {
        top: calc(var(--page-title-size) - var(--container-gap) - var(--menu-item-height));
        left: calc(100vw - var(--page-padding) - var(--menu-item-height));
    }
}

.images {
    position: relative;
    width: calc(100vw - 2 * var(--page-padding));
    height: auto;
    background-color: red;
    overflow: hidden;
    

    img {
        width: 100%;
    }
}

.images-test {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 2 * var(--page-padding));
    height: auto;
    overflow: hidden;
    pointer-events: none;
    
    // Apply SVG mask for inner-scroller-2
    mask: url(#combined-mask-2);
    -webkit-mask: url(#combined-mask-2);

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.image {
    // position: absolute;
    // top: 0;
    // right: 0;
    // width: calc(100vw - 2 * var(--page-padding));
    // height: auto;
    // overflow: hidden;
    // border-radius: var(--border-radius);

    // img {
    //     width: 100%;
    //     height: auto;
    //     display: block;
    // }
}

.projects {
    position: relative;
    width: 100%;
}

.project {
    position: relative;
    width: 100%;
}

.projects-images {
    position: sticky;
    width: 100%;
    height: var(--project-images-height);
    top: 0; // Stick below the page title
    right: 0;
    overflow: hidden;

    @include mobile {
        border-radius: 2rem;
        width: calc(100% - 2 * var(--page-padding));
        top: var(--page-padding);
        left: var(--page-padding);
        margin-top: var(--page-padding);
    }
    
    .project-image {
        position: absolute;
        width: calc(100vw - 2 * var(--page-padding));
        right: 0;
        top: 0;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        pointer-events: none;
        
        &.active {
            opacity: 1;
            pointer-events: auto;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
    
    // Navigation arrows
    .carousel-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 10;
        transition: all 0.3s ease;
        background-color: transparent;
        
        // Use FocalMaxi font for arrow glyphs
        font-family: "FocalMaxi", sans-serif;
        font-size: 3rem;
        line-height: 1;

        &:hover {
            transform: translateY(-50%) scale(1.1);
        }
        
        &:active {
            transform: translateY(-50%) scale(0.95);
        }
        
        &.carousel-arrow-left {
            left: 1rem;
        }
        
        &.carousel-arrow-right {
            right: 1rem;
        }
        
        &.carousel-fullscreen {
            top: var(--button-padding);
            right: var(--page-padding);
            transform: none;
            
            .arrow-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 0.25rem;
                font-size: 1.5rem;
                
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1;
                }
            }
            
            &:hover {
                transform: scale(1.1);
            }
            
            &:active {
                transform: scale(0.95);
            }
        }
    }
}




// Container for all cloned images - ONE mask applied to entire container
.projects-images-clones-container {
    // Fixed position covering viewport (doesn't move)
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    pointer-events: none;
    user-select: none;
    
    // Hidden by default
    opacity: 0;
    
    // Smooth transition to prevent flickering during class changes
    transition: opacity 0.3s ease-out;
    
    // Mask applied directly to container (moves/reshapes with red SVG)
    mask: url(#combined-mask-2);
    -webkit-mask: url(#combined-mask-2);

    .fullscreen-gallery & {
        opacity: 0;
    }
}

.projects-images-clone {
    // Position clones absolutely within the fixed container
    position: absolute;
    top: 0;
    left: 0;
    
    pointer-events: none !important;
    user-select: none !important;
    z-index: 1000;
    overflow: visible !important;
    
    * {
        pointer-events: none !important;
        user-select: none !important;
    }

    // Allow arrow buttons to be clicked on clones
    .carousel-arrow {
        pointer-events: auto !important;

        * {
            pointer-events: auto !important;
        }
    }
}

// Unmasked clone container (same as masked but NO mask applied, always visible, desktop only)
.projects-images-unmasked-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 90; // Below masked clones (z-index 100)
    pointer-events: none;
    user-select: none;
    
    // Always visible
    opacity: 1;
    
    // NO mask applied - visible everywhere
    
    // Hide on mobile
    @include mobile {
        display: none !important;
    }
    
    .fullscreen-gallery & {
        opacity: 0;
    }
}

.projects-images-unmasked-clone {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    
    pointer-events: none !important;
    user-select: none !important;
    z-index: 1000;
    overflow: hidden !important;

    * {
        pointer-events: none !important;
        user-select: none !important;
    }

    // Allow arrow buttons to be clicked
    .carousel-arrow {
        pointer-events: auto !important;

        * {
            pointer-events: auto !important;
        }
    }
}

.project-text-container {
    background-color: var(--grey-color);
    position: relative;
    width: 100%;
    min-height: var(--project-images-height);
    padding-left: var(--text-padding-1);
    padding-right: calc(var(--page-padding) * 3);
    padding-top: var(--page-padding);
    padding-bottom: var(--page-padding);
    z-index: 2000;

    // Only apply border-radius to the last project-text-container
    &:last-child {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    @include mobile {
        padding-top: 0;
    }

    p {
        @include mobile {
            margin-top: 0;
        }
    }
}

.project-text {
    position: relative;
}

.project-nav-prev {
    position: absolute;
    top: 0;
    left: - 10rem;
    width: 10rem;
    white-space: wrap;
    border: none;
    background-color: transparent;
    text-align: left;

    @include mobile {
        display: none;
    }
}

.project-nav-next {
    position: absolute;
    bottom: 0;
    left: - 10rem;
    width: 10rem;
    white-space: wrap;
    border: none;
    background-color: transparent;
    text-align: left;

    @include mobile {
        display: none;
    }
}

.text-container-white-gradient {
    position: absolute;
    height: 4rem;
    width: 100%;
    top: calc(-1 * 4rem);
    left: 0;
    background: linear-gradient(to bottom, transparent, var(--grey-color));

    @include mobile {
        height: 15rem;
        top: calc(-1 * 15rem);
    }
}

// Container for all cloned text - masked by same SVG mask as images
.project-text-clones-container {
    // Fixed position covering viewport (doesn't move)
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 150; // Above images (z-index 100)
    pointer-events: none;
    user-select: none;
    transition: opacity 0.3s ease-in-out;

    
    // Hidden by default
    opacity: 0;
    
    // Same mask as images
    mask: url(#combined-mask-2);
    -webkit-mask: url(#combined-mask-2);

    .fullscreen-gallery & {
        opacity: 0;
    }
}

.project-text-clone {
    // Position clones absolutely within the fixed container
    position: absolute;
    top: 0;
    left: var(--page-padding);
    user-select: text;
    pointer-events: none; // Allow text selection even though parent has pointer-events: none
    width: calc(100vw - 2 * var(--page-padding)); // Match original width
    padding-left: calc(var(--menu-item-height) + var(--container-gap) + var(--text-padding-1));
}

.biografie-content {
    position: relative;
    padding-top: var(--button-padding);
    padding-left: var(--text-padding-1);
    width: 100%;

    @include mobile {
        padding-top: 0;
    }
}

.mobile-scroll-gradient {
    display: none;

    @include mobile {
        position: sticky;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 8rem;
        background: linear-gradient(to bottom, var(--grey-color) 0%, transparent);
        z-index: 2000;
    }
}

.kurzbiografie-section {
    padding-right: calc(var(--text-padding-1) * 2);

    @include mobile {
        padding-right: calc(var(--text-padding-1));
    }
}

.schaffen-section {
    padding-left: var(--text-padding-2);
    padding-right: calc(var(--page-padding) * 3);

    @include mobile {
        padding-right: calc(var(--text-padding-1));
    }
}

.project-header {
    position: absolute;
    top: 0.93rem;
    left: var(--text-padding-1);
    color: var(--grey-color);
    z-index: 2000;
    transition: top 0.4s ease-in-out;

    .projects-title {
        color: var(--grey-color);
    }
    
    .project-title {
        color: var(--grey-color);
    }

    &.offset-top {
        top: calc(0.93rem + var(--menu-item-height) + var(--container-gap));

        @include mobile {
            top: 8rem;
        }
    }
}

.pressebilder-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: var(--button-padding);
    padding-left: var(--text-padding-1);
    padding-right: calc(var(--page-padding) * 2);
    padding-bottom: var(--page-padding);
}

.pressebilder-title {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;

    .offset-top & {
        transform: translateY(calc((var(--menu-item-height) + var(--container-gap)) * 2));

        @include mobile {
            transform: translateY(0);
        }
    }
}

.pressebilder-text {
    padding-top: var(--page-padding);
    padding-right: calc(var(--page-padding) * 2);
    padding-bottom: var(--page-padding);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    .offset-top & {
        opacity: 0;
    }
}

.kontakt-content {
    padding-left: var(--text-padding-1);
    padding-right: calc(var(--page-padding) * 2);
    padding-bottom: var(--page-padding);
}

.kontakt-title {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;

    .offset-top & {
        transform: translateY(calc((var(--menu-item-height) + var(--container-gap)) * 3));

        @include mobile {
            transform: translateY(0);
        }
    }
}

.kontakt-heading {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include mobile {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.pressebilder-download {
    font-family: "FocalMaxi Medium Italic";
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
    
    &:hover {
        opacity: 0.7;
    }
}

.pressebilder-images {
    display: flex;
    flex-wrap: nowrap; // Force horizontal alignment
    align-items: flex-end; // Align images to bottom
    gap: var(--container-gap);
    margin-top: auto; // Push to bottom of parent flex container
    width: 100%;
    overflow-x: auto;
}

.pressebild-item {
    flex: 1 1 0; // Start from 0 basis, grow equally
    min-width: 0; // Allow shrinking
    max-width: 25%;
    position: relative;
    aspect-ratio: 3 / 4; // 3:4 portrait ratio
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}





