.start-menu-container {
    position: fixed;
    top: var(--page-title-size);
    left: var(--page-padding);
    right: var(--page-padding);
    bottom: 0rem;
    width: calc(100vw - 2 * var(--page-padding));
    height: calc(100dvh - var(--page-title-size));
    display: grid;
    // grid-template-columns: var(--page-padding) 1fr;

    &.display-none {
        display: none;
    }
}

.start-menu {
    .start-menu-item {
        height: calc(4 * var(--menu-item-height) + 3 * var(--container-gap) + var(--page-padding));
    }
}

.start-menu-item-placeholder-before {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 600ms ease-in-out;

    .placeholder-before-inner {
        position: relative;
        width: 0%;
        height: 0%;
        background-color: var(--grey-color);
        transition: all 600ms ease-in-out;
        transform: translateY(1px);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .clicked-menu-item & {
        .placeholder-before-inner {
            height: calc(100% + 1px);
            width: calc(100% - 2 * var(--page-padding) - var(--container-gap));
        }

        .start-menu-radius {
            opacity: 1;
        }

        .start-menu-radius-cut-out {
            opacity: 1;
            border-bottom-right-radius: var(--border-radius);
        }
    }

    .start-menu-radius {
        position: absolute;
        height: var(--container-gap);
        width: var(--container-gap);
        bottom: 1px;
        left: calc(var(--container-gap) * -1);
        background-color: var(--grey-color);
        transition: opacity 600ms ease-in-out;
        opacity: 0;

        .unfolded & {
            transition: opacity 3000ms ease-in-out;
        }
    }

    .start-menu-radius-cut-out {
        position: absolute;
        height: var(--container-gap);
        width: var(--container-gap);
        bottom: 1px;
        left: calc(var(--container-gap) * -1);
        background-color: var(--background-color);
        border-bottom-right-radius: 0;
        transition: all 600ms ease-in-out;
        opacity: 0;

        .unfolded & {
            transition: opacity 3000ms ease-in-out;
        }
    }


}

.start-menu-item-placeholder-after {
    position: relative;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    transition: all 600ms ease-in-out;

    .placeholder-after-inner {
        width: 0%;
        height: 0%;
        background-color: var(--grey-color);
        transition: all 600ms ease-in-out;
        transform: translateY(-1px);
        border-radius: 0 0 var(--border-radius) var(--border-radius);

    }

    .clicked-menu-item & {
        .placeholder-after-inner {
            height: calc(100% + 1px);
            width: calc(100% - 2 * var(--page-padding) - var(--container-gap));
            border-radius: 0 0 0 0;
        }

        .start-menu-radius {
            opacity: 1;
        }

        .start-menu-radius-cut-out {
            opacity: 1;
            border-top-right-radius: var(--border-radius);
        }
    }

    .start-menu-radius {
        position: absolute;
        height: var(--container-gap);
        width: var(--container-gap);
        top: 1px;
        left: calc(var(--container-gap) * -1);
        background-color: var(--grey-color);
        opacity: 0;
        transition: all 600ms ease-in-out;

        .unfolded & {
            transition: opacity 3000ms ease-in-out;
        }
    }

    .start-menu-radius-cut-out {
        position: absolute;
        height: var(--container-gap);
        width: var(--container-gap);
        top: 1px;
        left: calc(var(--container-gap) * -1);
        background-color: var(--background-color);
        border-top-right-radius: 0;
        opacity: 0;
        transition: all 600ms ease-in-out;

        .unfolded & {
            transition: opacity 3000ms ease-in-out;
        }
    }
}



.start-menu-item {
    position: fixed;
    left: var(--page-padding);
    bottom: 0;
    width: calc(100vw - 2 * var(--page-padding));
    pointer-events: none;
    display: grid;
    transition: all 600ms ease-in-out;

    &.unfolded {
        height: calc(100dvh - var(--page-title-size));
    }

    &.folded {
        width: var(--menu-item-height);
    }

    &.folded-mobile {
        width: var(--menu-item-height);
    }

    &.to-top {
        bottom: calc(100dvh - (var(--page-title-size) - var(--container-gap)));
        // top: calc(var(--page-title-size) - var(--container-gap) - var(--menu-item-height));
        height: var(--menu-item-height);
        
        .start-menu-item-placeholder-before {
            height: 0 !important;
        }

    }


}

.start-menu-item-button {
    width: 100%;
    height: 100%;
    background-color: var(--grey-color);
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) var(--border-radius);
    height: var(--menu-item-height);
    pointer-events: auto;
    cursor: pointer;
    position: relative;
    transition: height 75ms ease-in-out, border-radius 150ms ease-in-out;
    overflow: hidden;

    .start-menu-item-button-inner-before {
        position: absolute;
        bottom: 0;
        left: calc(var(--border-radius) * -1);
        width: var(--border-radius);
        height: var(--border-radius);
        background-color: var(--grey-color);
        transition: all 75ms ease-in-out;
        opacity: 0;
    }

    .start-menu-item-button-inner-before-cut-out {
        position: absolute;
        bottom: 0;
        left: calc(var(--border-radius) * -1);
        width: var(--border-radius);
        height: var(--border-radius);
        background-color: var(--background-color);
        border-bottom-left-radius: 0;
        transition: all 75ms ease-in-out;
        opacity: 0;
    }

    .start-menu-item-button-inner-after {
        position: absolute;
        bottom: 0;
        right: calc(var(--border-radius) * -1);
        width: var(--border-radius);
        height: var(--border-radius);
        background-color: var(--grey-color);
        transition: all 75ms ease-in-out;
        opacity: 0;
    }

    .start-menu-item-button-inner-after-cut-out {
        position: absolute;
        bottom: 0;
        right: calc(var(--border-radius) * -1);
        width: var(--border-radius);
        height: var(--border-radius);
        background-color: var(--background-color);
        border-bottom-left-radius: 0;
        transition: all 75ms ease-in-out;
        opacity: 0;
    }

    .no-radius & {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
        transition: height 75ms ease-in-out, border-radius 0ms ease-in-out;
    }

    .connected & {
        @include mobile {
            height: calc(var(--menu-item-height) + var(--container-gap));
            border-radius: var(--border-radius) var(--border-radius) 0 0;
    
            .start-menu-item-button-inner-before-cut-out {
                border-bottom-right-radius: var(--border-radius);
                opacity: 1;
            }
    
            .start-menu-item-button-inner-after-cut-out {
                border-bottom-left-radius: var(--border-radius);
                opacity: 1;
            }
    
            .start-menu-item-button-inner-before {
                opacity: 1;
            }
    
            .start-menu-item-button-inner-after {
                opacity: 1;
            }
        }
    }
}

.button-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 var(--page-padding);
    opacity: 1;
    transition: all 600ms ease-in-out;

    .no-opacity & {
        opacity: 0;
    }

    .folded-mobile & {
        opacity: 0;
    }
}

.button-label {
    font-family: "GeistMono";
    font-size: var(--monospace-font-size);
    font-weight: 500;
    color: black;
}

.button-plus {

}

#start-menu-item-1 {
    grid-template-rows: auto 1fr;

    &.clicked-menu-item {
        .start-menu-item-button {
            border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);
        }
    }
}

#start-menu-item-2 {
    grid-template-rows: auto auto 1fr;

    .start-menu-item-placeholder-before {
        height: calc(var(--menu-item-height) + var(--container-gap));
    }

}

#start-menu-item-3 {
    grid-template-rows: auto auto 1fr;

    .start-menu-item-placeholder-before {
        height: calc(2 * (var(--menu-item-height) + var(--container-gap)));
    }
}

#start-menu-item-4 {
    grid-template-rows: auto auto 1fr;

    .start-menu-item-placeholder-before {
        height: calc(3 * (var(--menu-item-height) + var(--container-gap)));
    }
}

.inner-scroller-placeholder {
    position: fixed;
    bottom: 0;
    width: calc(100vw - 2 * var(--page-padding));
    height: calc(100dvh - var(--page-title-size));
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background-color: var(--grey-color);
    transform: translateY(100%);
    transition: all 600ms ease-in-out;

    &.to-top {
        transform: translateY(0);
    }

    &.no-radius {
        border-radius: 0 var(--border-radius) 0 0;
    }
}