.start-menu-container {
    position: fixed;
    top: var(--page-title-size);
    left: var(--page-padding);
    right: var(--page-padding);
    bottom: 0rem;
    width: calc(100vw - 2 * var(--page-padding));
    height: calc(100dvh - var(--page-title-size));
    display: grid;
    grid-template-columns: 2rem 1fr;
}

.start-menu {
    .start-menu-item {
        height: calc(4 * var(--menu-item-height) + 3 * var(--container-gap));
    }
}

.start-menu-item-placeholder-before {
    position: relative;
    transition: all 1s ease-in-out;

    &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 0%;
        height: 0%;
        background-color: var(--grey-color);
        transition: all 1s ease-in-out;
    }

    .clicked-menu-item & {
        &::before {
            height: calc(100% + 1px);
            width: calc(100% - 2 * var(--page-padding) - var(--container-gap));
        }
    }


}

.start-menu-item-placeholder-after {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: -1px;
        right: 0;
        width: 0%;
        height: 0%;
        background-color: var(--grey-color);
        transition: all 1s ease-in-out;
    }

    .clicked-menu-item & {
        &::after {
            height: calc(100% + 1px);
            width: calc(100% - 2 * var(--page-padding) - var(--container-gap));
        }
    }
}



.start-menu-item {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    width: calc(100vw - 2 * var(--page-padding));
    pointer-events: none;
    display: grid;
    transition: all 1s ease-in-out;

    &.unfolded {
        height: calc(100dvh - 10rem);
    }

    &.folded {
        width: 4rem;
    }
}

.start-menu-item-button {
    width: 100%;
    height: 100%;
    background-color: var(--grey-color);
    border-radius: var(--border-radius);
    height: var(--menu-item-height);
    pointer-events: auto;
    cursor: pointer;
}



#start-menu-item-1 {
    grid-template-rows: auto 1fr;    
}

#start-menu-item-2 {
    grid-template-rows: auto auto 1fr;

    .start-menu-item-placeholder-before {
        height: calc(var(--menu-item-height) + var(--container-gap));
    }

}

#start-menu-item-3 {
    grid-template-rows: auto auto 1fr;

    .start-menu-item-placeholder-before {
        height: calc(2 * (var(--menu-item-height) + var(--container-gap)));
    }
}

#start-menu-item-4 {
    grid-template-rows: auto auto 1fr;

    .start-menu-item-placeholder-before {
        height: calc(3 * (var(--menu-item-height) + var(--container-gap)));
    }
}