.start-menu-container {
    position: fixed;
    top: var(--page-title-size);
    left: var(--page-padding);
    right: var(--page-padding);
    bottom: 0rem;
    width: calc(100vw - 2 * var(--page-padding));
    height: calc(100dvh - var(--page-title-size));
    display: grid;
    grid-template-columns: 2rem 1fr;
}

.start-menu {
    .start-menu-item {
        height: calc(4 * var(--menu-item-height) + 3 * var(--container-gap));
    }
}

.start-menu-item-placeholder-before {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 1000ms ease-in-out;

    .placeholder-before-inner {
        position: relative;
        width: 0%;
        height: 0%;
        background-color: var(--grey-color);
        transition: all 1000ms ease-in-out;
        transform: translateY(1px);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .clicked-menu-item & {
        .placeholder-before-inner {
            height: calc(100% + 1px);
            width: calc(100% - 2 * var(--page-padding) - var(--container-gap));
        }

        .start-menu-radius {
            display: block;
        }

        .start-menu-radius-cut-out {
            display: block;
            border-bottom-right-radius: var(--border-radius);
        }
    }

    .start-menu-radius {
        position: absolute;
        height: var(--border-radius);
        width: var(--border-radius);
        bottom: 0px;
        left: calc(var(--border-radius) * -1);
        background-color: var(--grey-color);
        display: none;
    }

    .start-menu-radius-cut-out {
        position: absolute;
        height: var(--border-radius);
        width: var(--border-radius);
        bottom: 1px;
        left: calc(var(--border-radius) * -1);
        background-color: var(--background-color);
        border-bottom-right-radius: 0;
        transition: border-bottom-right-radius 75ms ease-in-out;
        display: none;
    }


}

.start-menu-item-placeholder-after {
    position: relative;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    transition: all 1000ms ease-in-out;

    .placeholder-after-inner {
        width: 0%;
        height: 0%;
        background-color: var(--grey-color);
        transition: all 1000ms ease-in-out;
        transform: translateY(-1px);
        border-radius: 0 0 var(--border-radius) var(--border-radius);

    }

    .clicked-menu-item & {
        .placeholder-after-inner {
            height: calc(100% + 1px);
            width: calc(100% - 2 * var(--page-padding) - var(--container-gap));
        }

        .start-menu-radius {
            display: block;
        }

        .start-menu-radius-cut-out {
            display: block;
            border-top-right-radius: var(--border-radius);
        }
    }

    .start-menu-radius {
        position: absolute;
        height: var(--border-radius);
        width: var(--border-radius);
        top: 1px;
        left: calc(var(--border-radius) * -1);
        background-color: var(--grey-color);
        display: none;
    }

    .start-menu-radius-cut-out {
        position: absolute;
        height: var(--border-radius);
        width: var(--border-radius);
        top: 1px;
        left: calc(var(--border-radius) * -1);
        background-color: var(--background-color);
        border-top-right-radius: 0;
        display: none;
        transition: border-top-right-radius 75ms ease-in-out;
    }
}



.start-menu-item {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    width: calc(100vw - 2 * var(--page-padding));
    pointer-events: none;
    display: grid;
    transition: all 1000ms ease-in-out;

    &.unfolded {
        height: calc(100dvh - 10rem);
    }

    &.folded {
        width: 4rem;
    }
}

.start-menu-item-button {
    width: 100%;
    height: 100%;
    background-color: var(--grey-color);
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) var(--border-radius);
    height: var(--menu-item-height);
    pointer-events: auto;
    cursor: pointer;

    .clicked-menu-item & {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }
}



#start-menu-item-1 {
    grid-template-rows: auto 1fr;    
}

#start-menu-item-2 {
    grid-template-rows: auto auto 1fr;

    .start-menu-item-placeholder-before {
        height: calc(var(--menu-item-height) + var(--container-gap));
    }

}

#start-menu-item-3 {
    grid-template-rows: auto auto 1fr;

    .start-menu-item-placeholder-before {
        height: calc(2 * (var(--menu-item-height) + var(--container-gap)));
    }
}

#start-menu-item-4 {
    grid-template-rows: auto auto 1fr;

    .start-menu-item-placeholder-before {
        height: calc(3 * (var(--menu-item-height) + var(--container-gap)));
    }
}