@font-face {
    font-family: "FocalMaxi";
    src: url("../fonts/FocalMaxi-Black-Trial.otf") format("opentype");
}

@font-face {
    font-family: "GeistMono";
    src: url("../fonts/GeistMono-Medium.ttf") format("truetype");
}