// Responsive Mixins
@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 769px) and (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

:root {

    --background-color: #B5FF87;
    --grey-color: #FAFAFA;

    --page-padding: 1.5rem;
    --menu-item-height: 3rem;
    --menu-item-spacing: 1rem;

    --border-radius: 1rem;
    --container-gap: 0.5rem;
    --page-title-size: 13.5rem;

    --transition-duration-1: 250ms;

    --monospace-font-size: 1rem;
    --font-size-large: 2.5rem;
    --font-size-small: 1.7rem;

    --text-padding-1: 10rem;
    --text-padding-2: 12rem;

    --project-images-height: calc(100dvh - var(--page-title-size));

    --button-padding: 0.93rem;

    @include mobile {
        --border-radius: 3rem;
        --container-gap: 2rem;
        --page-title-size: 40rem;
        --menu-item-height: 12rem;
        --menu-item-spacing: 3rem;

        --monospace-font-size: 4rem;
    }
}