:root {

    --background-color: #B5FF87;

    --page-padding: 2rem;
    --menu-item-height: 4rem;
    --menu-item-spacing: 1rem;

    --border-radius: 1rem;
    --container-gap: 0.8rem;
    --page-title-size: 10rem;
}