@import "./variables";

html {
    font-size: 1vw;
    background-color: var(--background-color);
}



.content-container {
    position: fixed;
    top: 10rem;
    left: calc(var(--page-padding) + var(--menu-item-height) + var(--container-gap));
    width: calc(100vw - 2 * var(--page-padding) - var(--menu-item-height) - var(--container-gap));
    height: calc(100vh - 10rem);
}

// .content-container {
//     position: fixed;
//     top: 10rem;
//     left: 2rem;
//     right: 2rem;
//     bottom: 0rem;
//     width: calc(100vw - 4rem);
//     height: calc(100vh - 10rem);
//     display: grid;
//     grid-template-columns: 2rem 1fr;
// }

.start-menu {
    .start-menu-item {
        height: calc(4 * var(--menu-item-height) + 3 * var(--menu-item-spacing));
    }

}

.start-menu-item-placeholder-before {
    position: relative;
    transition: all 0.5s ease-in-out;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0%;
        height: 0%;
        background-color: red;
        transition: all 5s ease-in-out;
    }

    .clicked-menu-item & {
        &::before {
            height: 100%;
            width: calc(100% - 4rem);
        }
    }


}

.start-menu-item-placeholder-after {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        height: 0%;
        background-color: red;
        transition: all 5s ease-in-out;
    }

    .clicked-menu-item & {
        &::after {
            height: 100%;
            width: calc(100% - 4rem);
        }
    }
}



.start-menu-item {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    width: calc(100vw - 4rem);
    pointer-events: none;
    display: grid;
    transition: all 5s ease-in-out;

    &.unfolded {
        height: calc(100dvh - 10rem);
    }

    &.folded {
        width: 4rem;
    }
}

.start-menu-item-button {
    width: 100%;
    height: 100%;
    background-color: #000;
    height: var(--menu-item-height);
    pointer-events: auto;
}



#start-menu-item-1 {
    grid-template-rows: auto 1fr;    
}

#start-menu-item-2 {
    grid-template-rows: auto auto 1fr;

    .start-menu-item-placeholder-before {
        height: calc(var(--menu-item-height) + var(--menu-item-spacing));
    }

}

#start-menu-item-3 {
    grid-template-rows: auto auto 1fr;

    .start-menu-item-placeholder-before {
        height: calc(2 * (var(--menu-item-height) + var(--menu-item-spacing)));
    }
}

#start-menu-item-4 {
    grid-template-rows: auto auto 1fr;

    .start-menu-item-placeholder-before {
        height: calc(3 * (var(--menu-item-height) + var(--menu-item-spacing)));
    }
}



.scroller {
    grid-column: 2;
    background-color: #f0f0f0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    display: flex;
    flex-direction: column;
    gap: var(--container-gap);
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.inner-scroller {
    width: 100%;
    min-height: 200vh;
    flex-shrink: 0;
    // background: linear-gradient(to bottom, #ff0000, #66ff00);
    background-color: #FAFAFA;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transition: border-radius 75ms ease-in-out;
    position: relative;
    overflow: visible;

    &.connected-top {
        border-top-left-radius: 0;
    }

    &.connected-middle {
        border-top-left-radius: 0;
        transition: border-radius 0ms ease-in-out;
    }
}


.number-container {
    position: fixed;
    left: var(--page-padding);
    height: var(--menu-item-height);
    width: var(--menu-item-height);
    background-color: #FAFAFA;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transition: border-radius 75ms ease-in-out, width 75ms ease-in-out;

    &.connected-top {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: calc(var(--menu-item-height) + var(--container-gap));
    }

    &.connected-middle {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: calc(var(--menu-item-height) + var(--container-gap));
    }
}

.number {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.number-before {
    position: absolute;
    top: calc(-1 * var(--container-gap));
    right: 0;
    width: var(--container-gap);
    height: var(--container-gap);
    background-color: #FAFAFA;
}

.number-before-cut-out {
    position: absolute;
    top: calc(-1 * var(--container-gap));
    right: 0;
    width: var(--container-gap);
    height: var(--container-gap);
    background-color: var(--background-color);
    border-bottom-right-radius: 0;
}

.number-after {
    position: absolute;
    bottom: calc(-1 * var(--container-gap));
    right: 0;
    width: var(--container-gap);
    height: var(--container-gap);
    background-color: #FAFAFA;

}

.number-after-cut-out {
    position: absolute;
    bottom: calc(-1 * var(--container-gap));
    right: 0;
    width: var(--container-gap);
    height: var(--container-gap);
    background-color: var(--background-color);
    border-top-right-radius: 0;
    transition: border-radius 75ms ease-in-out;

    .connected-top & {
        border-top-right-radius: var(--container-gap);
        transition-delay: 75ms;
    }

    .connected-middle & {
        border-top-right-radius: var(--container-gap);
        transition: border-radius 75ms ease-in-out;
        transition-delay: 75ms;
    }
}

#number-1-container {
    top: 10rem;
}

#number-2-container {
    top: calc(100dvh - var(--page-padding) - 3 * var(--menu-item-height) - 2 * var(--container-gap));
}

#number-3-container {
    top: calc(100dvh - var(--page-padding) - 2 * var(--menu-item-height) - var(--container-gap));
}

#number-4-container {
    top: calc(100dvh - var(--page-padding) - var(--menu-item-height));
}

.images {
    position: relative;
    width: calc(100vw - 2 * var(--page-padding));
    height: auto;
    background-color: red;
    overflow: hidden;
    

    img {
        width: 100%;
    }
}

.images-test {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
    overflow: hidden;
    pointer-events: none;
    
    // Apply SVG mask for inner-scroller-2
    mask: url(#combined-mask-2);
    -webkit-mask: url(#combined-mask-2);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

